body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(https://trianglify.io/p/w:1440!h:900!x:Greys!v:0.59!c:0.06!s:rst90h);
}

.c-brand-primary {
    color: #0089d9
}

.usable-class-test {
    color: #cdcdcd;
}